.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border: 2px solid black;
    border-radius: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}